:root {
  --secondary-color: #935421;
}

body {
  background-color: beige;
}

.hero {
  background-color: bisque;
  text-align: center;
  padding: 120px 20px;
}

.hero h3 {
  font-size: 28px;
  color: var(--secondary-color);
  margin-top: 30px;
}
.hero h1 {
  font-size: 50px;
  color: var(--secondary-color);
  margin: 20px;
}

.hero h4 {
  font-size: 22px;
  color: var(--secondary-color);
}
.hero p {
  font-size: 20px;
  color: var(--secondary-color);
  margin: 40px;
}
