:root {
  --primary-color: #f8d9c7;
  --secondary-color: #935421;
  --branding-color: #8e286b;
  --button-color: #f5b2a3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: beige;
  font-family: "Averia Serif Libre", cursive;
}

nav {
  padding: 18px 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.hero {
  background-color: bisque;
  text-align: center;
  padding: 100px 20px;
}

.hero h3 {
  font-size: 28px;
  color: var(--secondary-color);
  margin-top: 30px;
}
.hero h1 {
  font-size: 50px;
  color: var(--secondary-color);
  margin: 20px;
}

.hero h4 {
  font-size: 22px;
  color: var(--secondary-color);
}
.hero p {
  font-size: 20px;
  color: var(--secondary-color);
  margin-top: 70px;
}

.about-paragraphs {
  display: flex;
  margin: 30px 10px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
  color: var(--secondary-color);
}

.about-paragraphs p {
  margin: 10px;
}

.title {
  font-size: 23px;
  margin: 0 auto;
}

.about-paragraphs a {
  background: var(--branding-color);
  margin-top: 15px;
}

.about-paragraphs a:hover {
  background: var(--button-color);
}

.img-thumbnail {
  display: flex;
  margin: 30px 0;
  border-radius: 20px;
}

footer {
  text-align: center;
  margin: 60px 0;
  text-decoration: none;
}

footer h4 {
  font-size: 30px;
}

footer .contact-links a {
  margin: 0 20px;
  color: var(--branding-color);
  font-size: 30px;
}

footer .contact-links a:hover {
  color: var(--button-color);
}
footer p {
  font-size: 16px;
}

footer .github-link {
  color: var(--branding-color);
}

footer .github-link:hover {
  color: var(--button-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  nav a {
    font-size: 11px;
  }
}
